<!DOCTYPE html>
<html>
<head>
    <title>Iniciar Sesion</title>
</head>
<body>
    <h2>Iniciar Sesion</h2>

    <form action="{{ url_for('login.login') }}" method="POST">
        <input type="text" name="username" placeholder="Usuario" required><br>
        <input type="password" name="password" placeholder="Contrasena" required><br>
        <button type="submit">Entrar</button>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
          {% for category, message in messages %}
            <li style="color: {{ 'green' if category == 'success' else 'red' }};">
              {{ message }}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <p>No tienes cuenta? 
      <a href="{{ url_for('login.register') }}">Registrate aqui</a>
    </p>

    <p>
      <a href="{{ url_for('login.recover_password') }}">¿Olvidaste tu contraseña?</a>
    </p>

</body>
</html>
